@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    overflow-x: none;
    -ms-overflow-style: none;
  }

  body::-webkit-scrollbar {
    display: none;
  }
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}
