@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    overflow-x: none;
    -ms-overflow-style: none;
  }

  body::-webkit-scrollbar {
    display: none;
  }

  li {
    @apply px-4;
    @apply cursor-pointer;
  }

  p {
    font-size: 14px;
  }
}

@layer components {
  .social-item {
    @apply w-[150px] h-[50px] flex justify-between items-center  ml-[-100px] hover:ml-[-10px] duration-300 rounded-md text-[#ccd6f6];
  }

  .social-item__link {
    @apply flex justify-between items-center w-full;
  }

  .menu-mobile {
    @apply transition-all duration-500 absolute top-0 left-0 w-full h-screen  bg-gradient-to-b from-slate-200/[.93] to-slate-300/[.93]  dark:from-gray/[.93] dark:to-[#213f50]/[.93] flex flex-col justify-center items-center;
  }
  
  .shrink {
    @apply shadow-lg h-[80px] !important;
  }
}

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 200px;
}

.content-div:hover {
  background-image: linear-gradient(
    to right,
    rgba(112, 157, 255, 0.8),
    hsla(242, 74%, 61%, 0.8)
  ) !important;
}
